<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logotec"
        android:label="Chequeo Clases"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoAplicacionChecador"
        tools:targetApi="31">


        <activity
            android:name=".ReporteSemanal"
            android:exported="false" />
        <activity
            android:name=".abcAcademia"
            android:exported="false" />
        <activity
            android:name=".abcCarrera"
            android:exported="false" />
        <activity
            android:name=".chequeoClases"
            android:exported="false" />
        <activity
            android:name=".abcAulas"
            android:exported="false" />
        <activity
            android:name=".abcMaestros"
            android:exported="false" />
        <activity
            android:name=".Inicio_de_sesion"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>